body {
/*     width: 100%;
    height: 100vh;
    background-image: url('./fondo.jpeg');
    background-size: cover;
    background-position: center center; */
}
.nav-item.active .nav-link{
    color: red !important;
}